# --- ARCHIVOS DEL SISTEMA Y ENTORNO (RAÍZ) ---
.env
.env.local
.env.*.local
dist/
build/
node_modules/
.DS_Store
Thumbs.db

# --- CONFIGURACIÓN ESPECÍFICA DE NESTJS (BACKEND) ---
/backend/node_modules/
/backend/dist/
/backend/.env
/backend/.env.development
/backend/.env.production
/backend/npm-debug.log*

# --- CONFIGURACIÓN ESPECÍFICA DEL FRONTEND ---
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.env
/frontend/.env.local
/frontend/.next/
/frontend/out/

# --- IDEs Y EDITORES ---
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
